{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Etiquetas Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Conexion a CSS Principal - ( base.css ) -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <!-- Conexion a Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <!-- Conexion a jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    
    <!-- Imagen Icono de la Pestaña -->
    <link rel="icon" href="{% static 'imgs/base/PatIcon.ico' %}">

    <!-- Link de Iconos -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Conexion a JavaScript Individual - ( navbar.js ) -->
    <script src="{% static 'js/base.js' %}"></script>

    <!-- Tutulo de Pagina -->
    <title>{% block title %} Base Html {% endblock %}</title>
</head>
<body>

    <!-- Navbar -->
    <div>{% include 'components/navbar.html' %}</div> 
    <div id="contenido">
        <!--
            Aqui iran los contenidos de las paginas / secciones cargados por un archivo de JavaScript
        -->
    </div>
    <!-- Footer -->
    <div>{% include 'components/footer.html' %}</div>
</body>
</html>