body{

    background-image: url();
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    background-attachment: fixed;

}
/* TIENDA */
*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Lato';
    color: #333;
    font-family: 'More Sugar', sans-serif;
}